combi:
  $constructor:
    new:  Monolog\Logger(combi)
    parameters:
      handler1:
        $constructor:
          new:  Monolog\Handler\RotatingFileHandler(
            filename, 0, level)
          parameters:
            filename:
              $path:
                path:       combi.log
                category:   logs
            level:
              $constant: Combi\Core\Logger::LEVELS(info)
            formatter:
              $make:  Monolog\Formatter\JsonFormatter()
          initialize:
            - setFormatter(formatter)
      handler2:
        $constructor:
          new:  Combi\Core\Logger\SampleSnapHandler(
            baseDir, Y-m, level)
          parameters:
            baseDir:
              $path:
                path:       snaps
                category:   logs
            level:
              $constant: Combi\Core\Logger::LEVELS(info)
      processor1:
        $instance:  Combi\Core\Logger\PrimariesProcessor()
      processor2:
        $instance:  Combi\Core\Logger\RichMessageProcessor(true)

    initialize:
      - pushHandler(handler1)
      - pushHandler(handler2)
      - pushProcessor(processor1)
      - pushProcessor(processor2)

slow:
  $constructor:
    new:  Monolog\Logger(slow)
    parameters:
      handler1:
        $constructor:
          new:  Monolog\Handler\RotatingFileHandler(
            filename, 0, level)
          parameters:
            filename:
              $path:
                path:       slow.log
                category:   logs
            level:
              $constant: Combi\Core\Logger::LEVELS(info)
    initialize:
      - pushHandler(handler1)

debug:
  $constructor:
    new:  Monolog\Logger(slow)
    parameters:
      handler1:
        $constructor:
          new:  Monolog\Handler\StreamHandler(
            filename, 0, level)
          parameters:
            filename:
              $path:
                path:       debug.log
                category:   logs
            level:
              $constant: Combi\Core\Logger::LEVELS(debug)
      processor1:
        $instance:  Combi\Core\Logger\PrimariesProcessor()
      processor2:
        $instance:  Combi\Core\Logger\RichMessageProcessor(true)
    initialize:
      - pushHandler(handler1)
      - pushProcessor(processor1)
      - pushProcessor(processor2)
