combi:
    handlers:
        - Monolog\Handler\RotatingFileHandler(
            file=combi.log,
            0,
            level=info,
            formatter=json
        )
        - Combi\Core\Logger\SampleSnapHandler(
            snaps,
            c,
            level=info
        )
    processors:
        - Combi\Core\Logger\PrimariesProcessor()
        - Combi\Core\Logger\RichMessageProcessor(true)
    formatters:
        json: Monolog\Formatter\JsonFormatter()

slow:
    handlers:
        - Monolog\Handler\RotatingFileHandler(
            file=slow.log,
            0,
            level=debug
        )

debug:
    handlers:
        - Monolog\Handler\StreamHandler(
            file=debug.log,
            level=debug
        )
    processors:
        - Combi\Core\Logger\PrimariesProcessor()
        - Combi\Core\Logger\RichMessageProcessor(true)
