combi:
  $constructor:
    take: logger
    deps:
      logger:       Monolog\Logger(combi)

      handler1:     Monolog\Handler\RotatingFileHandler(handler1Filename, 0, level)
      handler1Filename:
        $path:
          path:     combi.log
          category: logs
      handler1Formatter:
        $make:      Monolog\Formatter\JsonFormatter()

      handler2:     Combi\Core\Logger\SampleSnapHandler(handler2BaseDir, Y-m, level)
      handler2BaseDir:
        $path:
          path:       snaps
          category:   logs

      level:
        $constant:  Combi\Core\Logger::LEVELS(info)

      processor1:
        $instance:  Combi\Core\Logger\PrimariesProcessor()
      processor2:
        $instance:  Combi\Core\Logger\RichMessageProcessor(true)

    init:
      handler1:
        - setFormatter(handler1Formatter)
      logger:
        - pushHandler(handler1)
        - pushHandler(handler2)
        - pushProcessor(processor1)
        - pushProcessor(processor2)

slow:
  $constructor:
    take: logger
    deps:
      logger:     Monolog\Logger(slow)
      handler:    Monolog\Handler\RotatingFileHandler(handlerFilename, 0, level)
      handlerFilename:
        $path:
          path:       slow.log
          category:   logs
      level:
        $constant: Combi\Core\Logger::LEVELS(info)
    init:
      logger:
        - pushHandler(handler)

debug:
  $constructor:
    take: logger
    deps:
      logger:   Monolog\Logger(slow)
      handler:  Monolog\Handler\StreamHandler(handlerFilename, 0, level)
      handlerFilename:
        $path:
          path:       debug.log
          category:   logs
      level:
        $constant: Combi\Core\Logger::LEVELS(debug)

      processor1:
        $instance:  Combi\Core\Logger\PrimariesProcessor()
      processor2:
        $instance:  Combi\Core\Logger\RichMessageProcessor(true)
    init:
      logger:
        - pushHandler(handler)
        - pushProcessor(processor1)
        - pushProcessor(processor2)
