dumper:
    provider:   Combi\Tris\Dumper

logger:
    default:
        provider:           Combi\Tris\Logger   # set Combi\Tris\NullLogger to disable log function
        to_file:            true
        file_suffix:        ".{level}.log"
        datetime_format:    c
        slice_format:       Y.W

sample:
    enable:         true
    levels:
        emergency:  true
        alert:      true
        critical:   true
        error:      true
        warning:    true
        #notice:     true      # 通过关闭notice级别，可避免记录 LogicException 的样本

catcher:
    provider:   Combi\Tris\Catcher
    shutdown_hook:  true
    print_exc:      true
